@use 'variables' as var;
@use 'pagecontent';
@use 'statusbar';
@use 'navigationbar';
@use 'cover';
@use "summary";

.h5p-interactive-book {
  &.h5p-interactive-book-small {
    .h5p-interactive-book-main {

      &.h5p-interactive-book-navigation-open {

        .h5p-interactive-book-navigation {
          max-width: 100%;
          width: 100%;

          .large-navigation-list {
            height: auto;
          }
        }

        .h5p-interactive-book-navigation-chapter-accordion {
          opacity: 0;
          visibility: hidden;
        }

        .h5p-interactive-book-navigation-chapter-button {
          background-color: var.$background-color;

          &.h5p-interactive-book-navigation-current {
            border-bottom: solid 1px var.$ghost-white;
          }
        }

        .h5p-interactive-book-navigation-sectionlist {
          max-height: none;
          overflow: inherit;
          transition: max-height .5s ease-in;
          visibility: inherit;
          padding-left: 0.3rem;
        }

        .h5p-interactive-book-content {
          display: none;
        }
      }
    }
  }

  .h5p-interactive-book-navigation-hidden .h5p-interactive-book-navigation {
    display: none;
  }

  &.h5p-scrollable-fullscreen.h5p-semi-fullscreen {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  .h5p-scrollable-fullscreen {
    overflow-y: auto;
  }

  &.h5p-fullscreen {
    background-color: var.$background-color;
  }

  .h5p-content-controls {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: var.$scrollbar-30;
  }

  ::-webkit-scrollbar-thumb {
    background: var.$scrollbar-75;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var.$scrollbar;
  }
}

.h5p-interactive-book-main {
  display: flex;
  flex: 1;
  overflow: hidden;

  &.h5p-interactive-book-navigation-open .h5p-interactive-book-navigation {
    max-width: 16.563em;
    width: 16.563em;
  }
}

.h5p-content-hidden {
  .h5p-interactive-book-cover-present {
    display: none;
  }
}

.h5p-fullscreen,
.h5p-semi-fullscreen {
  .h5p-interactive-book {
    display: flex;
    flex-direction: column;

    &.edge-18 .h5p-interactive-book-status {
      padding-right: 9em;
    }

    .h5p-interactive-book-content {
      padding-bottom: 4.5em;
    }

    .h5p-interactive-book-status-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
    }
  }

  .h5p-interactive-book-main {
    flex: 1;
    overflow: auto;

    .h5p-interactive-book-content {
      overflow-x: hidden;
      overflow-y: auto;
      // Note: Subtracts padding, do not use box-sizing because then inner div
      // will have too little space
      min-height: calc(100% - 5.5em);
    }
  }

  .h5p-interactive-book-navigation {
    display: flex;
    flex-direction: column;

    .navigation-list {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .large-navigation-list {
      min-height: 1px;
    }
  }
}
